<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Simple Responsive Admin</title>
        <!-- BOOTSTRAP STYLES-->
        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <!-- FONTAWESOME STYLES-->
        <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
        <link href="assets/css/custom.css" rel="stylesheet" />
        <!-- GOOGLE FONTS-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </h:head>
    <h:body>
        <div id="wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="adjust-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="assets/img/logo.png" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- /. NAV TOP  -->
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li> 
                            <a href="main_page.xhtml" ><i class="fa fa-desktop "></i>Dashboard<span class="badge">Included</span></a>
                        </li>
                        <li class="active-link">
                            <a href="check_booking.xhtml"><i class="fa fa-table "></i>Home<span class="badge">Included</span></a>
                        </li>
                        <li>
                            <a href="blank.html"><i class="fa fa-edit "></i>Blank Page  <span class="badge">Included</span></a>
                        </li>
                        <li>
                            <a href="booking.xhtml"><i class="fa fa-table "></i>Booking</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper" >
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>NEWS</h2>   
                        </div>
                    </div>              
                    <!-- /. ROW  -->
                    <!-- /. ROW  --> 
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <h5>NEWS1</h5>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    NEWS
                                </div>
                                <div class="panel-body">
                                    <p>The gym room will clear today at 19:00 - 20:30</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <h:outputLabel value="Please type in the member no to check booking info."/>
                    <h:form>
                        <h:panelGrid columns="2" cellspacing="10">
                            <h:outputLabel value="Booking Reference"/>
                            <h:inputText id="booking_ref" value="#{cMS_bean.booking_ref}"/>
                            <h:commandButton id="check" class="btn btn-success" value="CHECK" action="#{cMS_bean.getThebooking()}"/>

                        </h:panelGrid>
                        <p:dataTable var="booking" value="#{cMS_bean.booking_result}">
                            <p:column headerText="Ref ID">
                                <h:outputText value="#{booking.bookingRef}" />
                            </p:column>
                            <p:column headerText="Fac Type">
                                <h:outputText value="#{booking.facType}" />
                            </p:column>
                            <p:column headerText="Booking Date">
                                <h:outputText value="#{booking.bookDate}" />
                            </p:column>
                            <p:column headerText="Booking Start Time">
                                <h:outputText value="#{booking.bookStartTime}" />
                            </p:column>
                            <p:column headerText="Booking End Time">
                                <h:outputText value="#{booking.bookEndTime}" />
                            </p:column>
                            
                        </p:dataTable>
                        
                    </h:form>

                </div>

            </div> <!-- /. PAGE INNER  -->

        </div>
        <div class="footer">
            <div class="row">
                <div class="col-lg-12" >
                    &#169; 2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;"  target="_blank">www.binarytheme.com</a>
                </div>
            </div>
        </div>  
        <script src="assets/js/jquery-1.10.2.js"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- CUSTOM SCRIPTS -->
        <script src="assets/js/custom.js"></script>
    </h:body>
</html>
