<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Main Page</title>
        <!-- BOOTSTRAP STYLES-->
       
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <!-- FONTAWESOME STYLES-->
        <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
        <link href="assets/css/custom.css" rel="stylesheet" />
        <!-- GOOGLE FONTS-->
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"></link>

    </h:head>
    <h:body>
        <div id="wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="adjust-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="assets/img/logo.png" />
                        </a>
                    </div>
                </div>
            </div>
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="main-menu">
                        <li class="active-link"> 
                            <a href="main_page.xhtml" ><i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span></a>
                        </li>
                        <li>
                            <a href="check_booking.xhtml"><i class="fa fa-table "></i>Home<span class="badge">Included</span></a>
                        </li>
                        <li>
                            <a href="blank.html"><i class="fa fa-edit "></i>Blank Page  <span class="badge">Included</span></a>
                        </li>
                        <li>
                            <a href="booking.xhtml"><i class="fa fa-table "></i>Booking</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- /. NAV SIDE  -->
            <div id="page-wrapper" >
                <div id="page-inner">
                    <div class="row">
                        <div class="col-lg-12">
                            <h:outputLabel><h2>Welcome to ABC clubhouse booking system !</h2></h:outputLabel>  
                        </div>
                    </div>
                    <h:outputLabel value="* remain message - each member only book once facilty and max on 3 hours (BBQ no limit)"></h:outputLabel>
                    <h:form>
                        <h:panelGrid columns="2" cellspacing="10">
                            <h:outputLabel value="Book Date"></h:outputLabel>   
                            <input type="date" id="book_date" jsf:value="#{cMS_bean.book_date}">
                                <f:convertDateTime pattern="yyyy-MM-dd" />
                            </input>
                            <h:outputLabel value="Book Time"></h:outputLabel>
                            <input type="time" 
                                   id="book_start_time"  
                                   jsf:value="#{cMS_bean.book_start_time}"
                                   /> to  
                            <input type="time" 
                                   id="book_end_time"  
                                   jsf:value="#{cMS_bean.book_end_time}"
                                   />

                            <h:outputLabel value="Facility"></h:outputLabel>
                            <h:selectOneMenu value = "#{cMS_bean.facility}">
                                <f:selectItem itemValue = "Gymroom"      itemLabel = "Gym Room" /> 
                                <f:selectItem itemValue = "Swimmingpool" itemLabel = "Swimming Pool" />
                                <f:selectItem itemValue = "Saunaroom"    itemLabel = "Sauna Room" />
                                <f:selectItem itemValue = "Studyroom"    itemLabel = "Study Room" />
                                <f:selectItem itemValue = "BBQroom"      itemLabel = "BBQ Room" />
                            </h:selectOneMenu>
                            <h:outputLabel value="Member No"></h:outputLabel>  
                            <h:inputText  id="mem_id" maxlength="4" value="#{cMS_bean.mem_id}"></h:inputText>
                            <h:outputLabel value="Member Name"></h:outputLabel> 
                            <h:inputText  id="mem_name" maxlength="10" value="#{cMS_bean.mem_name}"></h:inputText>
                        </h:panelGrid>    
                        <h:commandButton class="btn btn-success" id="comfrim" value="COMFRIM" action="#{cMS_bean.getResult()}">
                            <!--                            <f:ajax execute="" redner="booking_result"/>-->
                        </h:commandButton>
                        <h:commandButton class="btn btn-danger" id="cancel"  value="CANCEL" />
                        <h>
                            <h:outputText id="booking_result" value="#{cMS_bean.booking_message}"/>
                        </h>

                    </h:form>   
                </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  -->
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-lg-12" >
                    c  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
                </div>
            </div>
        </div>
        <!-- /. WRAPPER  -->
        <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
        <!-- JQUERY SCRIPTS -->
        <script src="assets/js/jquery-1.10.2.js"></script>
        <!-- BOOTSTRAP SCRIPTS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- CUSTOM SCRIPTS -->
        <script src="assets/js/custom.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    </h:body>
</html>

